@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Nunito:wght@200;300;400;600&display=swap');

.yeahright { 
  width: 425px; 
  border-radius: 30px;
  background-color:#eee;
  overflow:hidden;
  display:flex;
  flex-flow:row wrap; 
  
}
.yeahright-Sidebar { 
  width:110px; 
  background-color:#5a5a5a;
  background-color: var(--accent);
  display:flex; 
  align-items:center;
  justify-content:center;
  position:relative;
  overflow:hidden;

  }
  
  .yeahright-SidebarCutout {
       width: 150px;
    height: 75px;
    background-color: var(--main);
    position: absolute;
    top: 0px;

 
  }
  
.yeahright-Sidebar img {
  width:90px;
  height:90px;
  position:absolute;
  top: 10px;
  z-index:1;
  padding:2px;
  background-color:#fafafa;
  border:4px solid var(--main);; 
  border-radius:100%;
}

.yeahright-Date span {
  font-family: 'Bellota Text', cursive;
  font-weight: 800;
  font-size: 38px;
padding-top: 10px;
color: #fff;
 text-outline: 1px solid #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--line);
 text-shadow:     2px 2px 0px var(--main);
    
}


.yeahright-Body { 
  width: 300px;
  font: 'Nunito';
  }
  
.yeahright-Body b { 
  font: 600 16px 'Nunito'; 
  color: var(--main); 
}
.yeahright-Body i { 
  color: var(--accent);
  font-weight: 900;
  border-bottom: 2px solid var(--line);
text-decoration:none;
padding: 0px 2px;
  }
  
.yeahright-Body div:first-child {
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
font-family: 'Nunito', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 25px;
text-align: justify;
border-width: 1px;
  color:#6a6a6a;
  }

.yeahright-endnotes {
  padding-bottom: 25px;
  padding-left: 15px;
  font:400 14px 'Nunito';
  text-align:justify;
  color:#6a6a6a;
}
  
.yeahright-endnotes a {
  font:800 13px 'Nunito';
  text-align:justify;
color: var(--line);
text-decoration: none;
padding: 5px;
margin-left: 5px;
border-radius: 100px;
  transition: .5s;
  }

.yeahright-endnotes a:before {
  content:'#';
  color: var(--main);
  font-weight:800;
}

.yeahright-endnotes a:hover {
  content:'#';
  color: var(--accent);
  font-weight:800;
  transition: .5s;
}



.yeahright hr{ 
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, var(--line)));
